<?xml version="1.0" encoding="UTF-8"?>
<root>
	<styleSheets>
		<styleSheet><![CDATA[{v_root}/css/flashstyles.css?v={v_version}]]></styleSheet>
	</styleSheets>
	
	<fonts>
		<font><![CDATA[{v_root}/swf/fonts/fonts.swf?v={v_version}]]></font>
	</fonts>
	
	<labels>
		<file><![CDATA[{v_root}/xml/i18n/labels_{v_lang}.xml?v={v_version}]]></file>
	</labels>
	
	<vars>
		<var code="maxFileSize"><![CDATA[10]]></var>
		<var code="version"><![CDATA[1]]></var>
		<var code="lang"><![CDATA[fr]]></var>
		<var code="root"><![CDATA[/kuest]]></var>
		<var code="dateTimeFormat"><![CDATA[_d_/_m_/_Y_ _h_:_i_:_s_]]></var>
		<var code="dateFormat"><![CDATA[_d_/_m_/_Y_]]></var>
		<var code="samples"><![CDATA[51ad0d08dc8c8,51ad0ec570134,51ad0fe2f0aa8,51ad12eca65b6,51ae54669c980,52ae1f2a60cae,52b6070ecfe6b]]></var>
	</vars>
	
	<paths>
		<path code="loginWS"><![CDATA[{v_root}/php/services/login.php]]></path>
		<path code="isLoggedWS"><![CDATA[{v_root}/php/services/isLogged.php]]></path>
		<path code="saveWS"><![CDATA[{v_root}/php/services/save.php]]></path>
		<path code="loadWS"><![CDATA[{v_root}/php/services/load.php]]></path>
		<path code="deleteWS"><![CDATA[{v_root}/php/services/delete.php]]></path>
		<path code="getDetailsWS"><![CDATA[{v_root}/php/services/loadDetails.php]]></path>
		<path code="loadProgressionWS"><![CDATA[{v_root}/php/services/loadProgression.php]]></path>
		<path code="saveProgressionWS"><![CDATA[{v_root}/php/services/saveProgression.php]]></path>
		<path code="clearProgressionWS"><![CDATA[{v_root}/php/services/clearProgression.php]]></path>
		<path code="evaluateWS"><![CDATA[{v_root}/php/services/evaluate.php]]></path>
		<path code="ksaWS"><![CDATA[{v_root}/php/services/keepAlive.php]]></path>
	</paths>
	
	<dependencies />
	
	<!-- prevents from security issues on fonts execution when testing localy -->
	<conditionnals>
		<local value="1">
			<fonts override="true">
				<font><![CDATA[swf/fonts/fonts.swf?v={v_version}]]></font>
			</fonts>
		</local>
		<lang value="en">
			<vars override="true">
				<var code="dateFormat"><![CDATA[_m_/_d_/_Y_ _h_:_i_:_s_]]></var>
			</vars>
		</lang>
	</conditionnals>
	
</root>