<?xml version="1.0" encoding="UTF-8"?>
<root>
	<styleSheets>
		<styleSheet><![CDATA[{v_root}/css/flashstyles.css?v={v_version}]]></styleSheet>
	</styleSheets>
	
	<fonts>
		<font><![CDATA[{v_root}/swf/fonts/fonts.swf?v={v_version}]]></font>
	</fonts>
	
	<labels>
		<file><![CDATA[{v_root}/xml/i18n/labels_{v_lang}.xml?v={v_version}]]></file>
	</labels>
	
	<vars>
		<var code="maxFileSize"><![CDATA[10]]></var>
		<var code="version"><![CDATA[1]]></var>
		<var code="lang"><![CDATA[fr]]></var>
		<var code="root"><![CDATA[http://fevermap.org/kuest]]></var>
	</vars>
	
	<paths>
		<path code="loginWS"><![CDATA[{v_root}/php/services/login.php]]></path>
		<path code="isLoggedWS"><![CDATA[{v_root}/php/services/isLogged.php]]></path>
		<path code="saveWS"><![CDATA[{v_root}/php/services/save.php]]></path>
		<path code="loadWS"><![CDATA[{v_root}/php/services/load.php]]></path>
		<path code="deleteWS"><![CDATA[{v_root}/php/services/delete.php]]></path>
		<path code="getDetailsWS"><![CDATA[{v_root}/php/services/loadDetails.php]]></path>
		<path code="loadProgressionWS"><![CDATA[{v_root}/php/services/loadProgression.php]]></path>
		<path code="ksaWS"><![CDATA[{v_root}/php/services/keepAlive.php]]></path>
	</paths>
	
	<dependencies />
	
	<!-- prevents from security issues on fonts execution when testing localy -->
	<conditionnals>
		<local value="1">
			<fonts override="true">
				<font><![CDATA[swf/fonts/fonts.swf?v={v_version}]]></font>
			</fonts>
		</local>
	</conditionnals>
	
</root>