window, body {
	overflow-x:hidden;
}
.loader {
	background-image: url(/kuest/img/loader.gif);
	background-repeat:no-repeat;
	background-position:top center;
	width:200px; height:24px;
	margin:auto;
	padding-top:24px;
	text-align:center;
	font-family:Verdana; 
	font-size:10px;
}

.serverError {
	display:none;
	color:#990000;
	font-size:20px;
	text-align:center;
}

.noResult {
	display:none;
	font-size:20px;
	text-align:center;
}

.item {
	padding:5px;
	width:365px;
	cursor:pointer;
	-webkit-transition: .25s all ease-out; -o-transition: .25s all ease-out;
	-moz-transition: .25s all ease-out; transition: .25s all ease-out;
	-webkit-filter: brightness(1);
	-moz-filter: brightness(1);
	background-color:#82C0DB;
}
.item:before {
	background-image:url(/kuest/img/open.png);
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:0px;
	content:'';
	-webkit-transition: .25s all ease-out; -o-transition: .25s all ease-out;
	-moz-transition: .25s all ease-out; transition: .25s all ease-out;
}
.item:hover {
	-webkit-filter: brightness(1.1);
	-moz-filter: brightness(1.1);
	padding-right:15px;
	width:355px;
}
.item:hover:before {
	padding-left:20px;
}
.mod {
	background-color:#96CAE0;
}

.template {
	display:none;
}

button {
	font-size:12px;
	padding:5px;
	padding-right:5px;
}