.debug { font-family:Verdana; font-size:12; color:#CC0000; flash-glow:[1.3,10,ffffff]}
.error { font-family:Verdana; font-size:12; color:#CC0000; }
.errorBig { font-family:Verdana; font-weight:bold; font-size:14; color:#cc0000; flash-glow:[2,10,ffffff }

.link { color:#FFCC00; font-weight:bold; text-decoration:underline; }
.tooltipContent { font-family:Verdana; font-size:12; color:#ffffff; }
.tooltipContentBig { font-family:Verdana; font-size:17; color:#ffffff; }
.tooltipContentWarn { font-family:Verdana; font-weight:bold; font-size:10; color:#aa0000; }

.menu-title { font-family:Verdana; font-weight:bold; font-size:25; color:#ffffff; text-align:center; flash-charcase:upper; }
.menu-label { font-family:Verdana; font-size:14; color:#ffffff; }
.menu-label-bold { font-family:Verdana; font-size:14; color:#ffffff; font-weight:bold; }
.notification { font-family:Verdana; font-size:14; color:#ffffff; font-weight:bold; }
.menu-debug-selectStart { font-family:Verdana; font-size:30; font-weight:bold; color:#ffffff; text-align:center; }
.loader-label { font-family:Verdana; font-size:8; color:#ffffff; text-align:center; flash-charcase:upper; }

.input { font-family:Verdana; font-size:12; font-weight:bold; font-style:normal; color:#265367; }
.inputDefault { font-family:Verdana; font-size:12; font-weight:normal; font-style:italic; color:#265367; }

.input-menu { font-family:Verdana; font-size:12; font-style:normal; color:#ffffff; }
.textarea { font-family:Verdana; font-size:12; font-style:normal; color:#ffffff; }

.button { font-family:Verdana; font-size:12; font-weight:bold; color:#265367; flash-alpha:1; }
.button_over { font-family:Verdana; font-size:12; font-weight:bold; color:#36748D; }
.button_down { font-family:Verdana; font-size:12; font-weight:bold; color:#234B5C; }
.button_disabled { font-family:Verdana; font-size:12; font-weight:bold; color:#234B5C; flash-alpha:.4; }

.buttonBig { font-family:Verdana; font-size:16; font-weight:bold; color:#ffffff; flash-alpha:1; }
.buttonBig_over { font-family:Verdana; font-size:16; font-weight:bold; color:#ffffff; }
.buttonBig_down { font-family:Verdana; font-size:16; font-weight:bold; color:#ffffff; }
.buttonBig_disabled { font-family:Verdana; font-size:16; font-weight:bold; color:#ffffff; flash-alpha:.4; }

.comboboxButtonItem { font-family:Verdana; font-size:14; font-weight:bold; color:#265367; flash-alpha:1; }
.comboboxButtonItem_over { font-family:Verdana; font-size:14; font-weight:bold; color:#36748D; }
.comboboxButtonItem_down { font-family:Verdana; font-size:14; font-weight:bold; color:#36748D; }
.comboboxButtonItem_disabled { font-family:Verdana; font-size:14; font-weight:bold; color:#234B5C; flash-alpha:.4; }

.comboboxButtonItemSelected { font-family:Verdana; font-size:14; font-weight:bold; color:#8E2424; flash-alpha:1; }
.comboboxButtonItemSelected_over { font-family:Verdana; font-size:14; font-weight:bold; color:#A22B2B; }
.comboboxButtonItemSelected_down { font-family:Verdana; font-size:14; font-weight:bold; color:#792020; }
.comboboxButtonItemSelected_disabled { font-family:Verdana; font-size:14; font-weight:bold; color:#8E2424; flash-alpha:.4; }

.checkBox { font-family:Verdana; font-size:12; color:#ffffff; }
.checkBox_fade { font-family:Verdana; font-size:12; color:#ffffff; flash-alpha:.5; }
.checkBox_selected { font-family:Verdana; font-size:12; color:#ffffff; flash-alpha:1; }
/*.checkBox_selected { font-family:Verdana; font-size:12; font-weight:bold; color:#ffffff; }*/

.radioButton { font-family:Verdana; font-size:12; color:#ffffff; }
.radioButton_selected { font-family:Verdana; font-size:12; font-weight:bold; color:#ffffff; }

.window-title { font-family:Verdana; font-weight:bold; font-size:18; color:#ffffff; text-align:center; flash-charcase:upper; }
.window-content { font-family:Verdana; font-size:12; color:#ffffff; }
.window-content-big { font-family:Verdana; font-size:12; color:#aa2222; font-weight:bold; }
.window-content-small { font-family:Verdana; font-size:10; color:#C4E1EE; font-style:italic; }
.window-content-smallCenter { font-family:Verdana; font-size:10; color:#C4E1EE; font-style:italic; text-align:center; }

.calendarMonth { font-family:Verdana; font-weight:bold; font-size:12; color:#ffffff; text-align:center; flash-charcase:upper; }
.calendarDay { font-family:Verdana; font-size:12; color:#ffffff; text-align:center; }
.calendarItem { font-family:Verdana; font-weight:bold; font-size:12; color:#265367; }
.calendarItem-selected { font-family:Verdana; font-weight:bold; font-size:12; color:#ffffff; }

.daySelector-item { font-family:Verdana; font-weight:bold; font-size:12; color:#265367; }
.daySelector-item_selected { font-family:Verdana; font-weight:bold; font-size:12; color:#ffffff; }

.box-label { font-family:Verdana; font-size:10; color:#ffffff; }

.selectorItem-label { font-family:Verdana; font-size:14; color:#ffffff; text-align:center; }
.editWindow-label { font-family:Verdana; font-size:12; color:#ffffff; }
.editWindow-zoneTitle { font-family:Verdana; font-size:14; color:#ffffff; }

.friendItemId { font-family:Verdana; font-size:10; font-weight:normal; color:#265367; }

/* KUEST PLAYER */

.kuest-login { font-family:Verdana; font-weight:bold; font-size:14; color:#ffffff; }
.kuest-title { font-family:Verdana; font-weight:bold; font-size:18; color:#ffffff; flash-charcase:upper; text-align:left; }
.kuest-description { font-family:Verdana; font-size:14; color:#ffffff; }
.kuest-date { font-family:Verdana; font-weight:normal; font-size:12; color:#ffffff; text-align:right; }
.kuest-objectCount { font-family:Verdana; font-size:12; color:#ffffff; text-align:right; }
.kuest-historyItemLabel { font-family:Verdana; font-size:8; color:#ffffff; text-align:center; }
.kuest-inventoryEmpty { font-family:Verdana; font-size:18; font-weight:bold; color:#ffffff; }
.kuest-evaluationTitle, .kuest-lostTitle { font-family:Verdana; font-size:18; font-weight:bold; color:#ffffff; text-align:center; }
.kuest-favoritesLabel { font-family:Verdana; font-size:14; color:#ffffff; }