html, body {
	background-color:#4CA5CD;
	margin:0;
	padding:0;
}
body {
	font-family: Trebuchet MS,Arial,sans-serif;
	font-size:14px;
	color:#ffffff;
	margin: 0px;
}

a {
	color: #ffaaaa;
	font-weight:bold;
	text-decoration:none;
}
a:hover {
	color: #ff8888;
}

#content {
	display:none;
}

.banner {
	background:#3986A8;
	background-image:url(/kuest/img/banner.jpg);
	background-repeat:no-repeat;
	background-position:center;
	width:100%;
	height:125px;
	-webkit-box-shadow:  0px 10px 10px 0px rgba(0, 0, 0, .4);
    box-shadow:  0px 10px 10px 0px rgba(0, 0, 0, .4);
}

.menu {
	text-align:center;
	height:80px;
	overflow:hidden;
}

.twinoid {
float:left;
}

.copyLink:before {
	background-image:url(/kuest/img/icon_copy.gif);
	background-repeat:no-repeat;
	background-position:center;
	padding-left:25px;
	content:'';
}

.hover {
	color: #cc0000 !important;
	text-decoration:underline;
}

.active {
	text-decoration:none;
	-webkit-filter: brightness(2);
	-moz-filter: brightness(2);
}

.submitted {
	text-decoration:none;
	-webkit-transition: .25s all ease-out; -o-transition: .25s all ease-out;
	-moz-transition: .25s all ease-out; transition: .25s all ease-out;
	-webkit-filter: brightness(1);
	-moz-filter: brightness(1);
}

.submitted  h2:before {
	background-image:url(/kuest/img/submit.png);
	background-repeat:no-repeat;
	background-position:center;
	padding-left:25px;
	content:'';
}

button {
	font-size:16px;
	font-weight:bold; 
	color:#ffffff;
	cursor:pointer;
	border-style:solid;
	border-width:1px;
	
	background-color:#47a9d1;
	
	border-top-color:#8eceea;
	border-right-color:#8eceea;
	border-bottom-color:#265367;
	border-left-color:#265367;
	
	padding:10px;
	padding-right:20px;
}
button:hover {
	color:#C7DFE9;
	background-color:#5BB3D7;
}
button:active {
	color:#234B5C;
	background-color:#3199C6;
}

button img {
	vertical-align:middle;
	margin:0px 5px 0px 5px !important;
}

button.big.disabled,button.big.disabled:hover {
	-webkit-filter: brightness(1.1);
	-moz-filter: brightness(1.1);
	padding:10px 20px 10px 20px;
	height:60px;
	cursor:auto;
	background: #2f708c; /* Old browsers */
	background: -moz-linear-gradient(top,  #2f708c 0%, #3986a8 16%, #439fc6 63%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2f708c), color-stop(16%,#3986a8), color-stop(63%,#439fc6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2f708c 0%,#3986a8 16%,#439fc6 63%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2f708c 0%,#3986a8 16%,#439fc6 63%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2f708c 0%,#3986a8 16%,#439fc6 63%); /* IE10+ */
	background: linear-gradient(to bottom,  #2f708c 0%,#3986a8 16%,#439fc6 63%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f708c', endColorstr='#439fc6',GradientType=0 ); /* IE6-9 */
}
button.big {
	vertical-align:text-top;
	height:50px;
	margin:0px;
	background:#3986A8;
	border-color:#266884;
	padding:2px 20px 2px 10px;
	margin-bottom:10px;
	color:#ffffff;
	font-size:18px;
	font-family:Verdana, Arial;
	font-weight:bold;
	border-top:none;
	background: #2f708c; /* Old browsers */
	background: -moz-linear-gradient(top,  #2f708c 0%, #3986a8 16%, #439fc6 63%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2f708c), color-stop(16%,#3986a8), color-stop(63%,#439fc6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2f708c 0%,#3986a8 16%,#439fc6 63%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2f708c 0%,#3986a8 16%,#439fc6 63%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2f708c 0%,#3986a8 16%,#439fc6 63%); /* IE10+ */
	background: linear-gradient(to bottom,  #2f708c 0%,#3986a8 16%,#439fc6 63%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f708c', endColorstr='#439fc6',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow:  0px 8px 8px 0px rgba(0, 0, 0, .4);
    box-shadow:  0px 8px 8px 0px rgba(0, 0, 0, .4);
}

button.big:hover {
	height:60px;
	color:#ffffff;
	padding:10px 20px 10px 20px;
	margin-bottom:0px;
	background: #2f708c; /* Old browsers */
	background: -moz-linear-gradient(top,  #2f708c 0%, #3986a8 16%, #45a5cc 79%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2f708c), color-stop(16%,#3986a8), color-stop(79%,#45a5cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2f708c 0%,#3986a8 16%,#45a5cc 79%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2f708c 0%,#3986a8 16%,#45a5cc 79%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2f708c 0%,#3986a8 16%,#45a5cc 79%); /* IE10+ */
	background: linear-gradient(to bottom,  #2f708c 0%,#3986a8 16%,#45a5cc 79%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f708c', endColorstr='#45a5cc',GradientType=0 ); /* IE6-9 */
}

ul {
	margin:0px;
	padding:0px 0px 0px 30px;
}
li {
	margin:0px;
	padding:0px 0px 0px 0px;
	font-style:italic;
	font-size:12px;
	font-weight:bold;
	color:#DEEDF3;
}

li b {
	color:#ffffff;
	border-bottom:1px dashed;
}

input {
	vertical-align:middle;
	
	font-size:16px;
	color:#ffffff;
	border-style:solid;
	border-width:1px;
	
	background-color:#69B9DA;
	
	border-top-color:#265367;
	border-right-color:#265367;
	border-bottom-color:#8eceea;
	border-left-color:#8eceea;
	
	height:23px;
	
	padding:0px 5px 0px 5px;
	margin:0px 20px 0px 0px;
}
	
::-webkit-input-placeholder { color:#3094BE; }
::-moz-placeholder { color:#3094BE; } /* firefox 19+ */
:-ms-input-placeholder { color:#3094BE; } /* ie */
input:-moz-placeholder { color:#3094BE; }

.search input {
	width:360px;
	margin:0px 20px 10px 0px;
}

.search .content {
	text-align:center;
}

.error {
	background-color:#85C6E0;
	display:inline;
}

.search .content.close {
	height:0px;
	overflow:hidden;
	-webkit-transition: .25s all ease-out; -o-transition: .25s all ease-out;
	-moz-transition: .25s all ease-out; transition: .25s all ease-out;
}

.search .content.open {
	height:60px;
	overflow:hidden;
	-webkit-transition: .25s all ease-out; -o-transition: .25s all ease-out;
	-moz-transition: .25s all ease-out; transition: .25s all ease-out;
}

.resultsVisible {
	position:relative;
	margin-top:-44px;
	opacity:1;
	filter:alpha(opacity=1); /* For IE8 and earlier */
	-webkit-filter: brightness(1);
	-moz-filter: brightness(1);
	-webkit-transition: .25s all ease-out; -o-transition: .25s all ease-out;
	-moz-transition: .25s all ease-out; transition: .25s all ease-out;
}

.resultsHidden {
	position:absolute;
	margin-top:0px;
	opacity:0;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	-webkit-filter: brightness(3);
	-moz-filter: brightness(3);
}

.resultsVisible .window .title {
	background-image:url(/kuest/img/window-top-noshadow.png);
}

.browse {
	margin:auto;
	display:table;
}

.window {
	width:440px;
	margin-left:auto;
	margin-right:auto;
}

.window.cell {
	display:table-cell;
}

.window .title {
	background-image:url(/kuest/img/window-top.png);
	background-repeat:no-repeat;
	width:375px;
	height:28px;
	padding-left:35px;
	padding-right:30px;
	padding-top:26px;
	
	font-weight:bold;
	font-size:16px;
	text-transform:uppercase;
	
	text-shadow: -2px 2px 0px #3083A5;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#3083A5', Direction=45, Strength=2);
	zoom: 1;
}

.window .content {
	margin:0px;	
	background-image:url(/kuest/img/window-middle.png);
	background-repeat:repeat-y;
	width:375px;
	padding-left:35px;
	padding-right:30px;
	padding-top:0px;
	word-wrap:break-word;
}

.window .content .inner {
	overflow:hidden;
	padding-bottom:5px;
}

.window .content strong {
	font-size:17px;
	text-decoration:underline;
}

.window .bottom {
	background-image:url(/kuest/img/window-bottom.png);
	background-repeat:no-repeat;
	width:440px;
	height:33px;
}

.window img {
	float:left;
	margin-right:20px;
	margin-left:10px;
}

.window h1 {
	font-size:20px;
	display:inline;
}

.window h2 {
	font-size:20px;
	display:inline;
	color:#266884;
}

.table {
	margin-top:10px;
	display:table;
	width:100%;
	border-collapse: separate;
	border-spacing:0px 2px;
}

.row {
	display:table-row;
	width:100%;
}

.colLeft {
	width:30%;
	display:table-cell;
	background-color:#266884;
	padding-left:10px;
}

.colMiddle {
	width:40%;
	display:table-cell;
	padding-left:10px;
	background-color:#D8ECF3;
}

.colRight {
	width:30%;
	display:table-cell;
	text-align:center;
	background-color:#B7DBEA;
}

.collapser, .collapserOpen {
	width:100%;
	display:block;
	padding:0px;
	margin:0px;
}
.collapser:before {
	background-image:url(/kuest/img/arrow.png);
	background-repeat:no-repeat;
	background-position:center;
	padding-left:20px;
	content:'';
}
.collapserOpen:before {
	background-image:url(/kuest/img/arrowDown.png);
	background-repeat:no-repeat;
	background-position:center;
	padding-left:20px;
	content:'';
}

.description {
	overflow:auto;
	width:90%;
	max-height:200px;
	padding:5px;
	margin-left:10px;
	margin-top:0px;
	border-style:dashed;
	border-width:1px;
	background-color:#3094BE;
	border-color:#ffffff;
	border-top-width:0px;
	
	transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out; /* Safari */
}
.collapsed {
	overflow:hidden;
	max-height:0px;
	padding-top:0px;
	padding-bottom:0px;
}

.questID {
	font-size:26px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	background-color:#226A88;
}


/* SCROLLBAR SKIN FOR WEBKIT BROWSERS */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-button:start {
	height: 15px;
	background: url(/kuest/img/scroll-up.png);
}

::-webkit-scrollbar-button:end {
	height: 15px;
	background: url(/kuest/img/scroll-down.png);
}
 
/* Track */
::-webkit-scrollbar-track {
	border-style:solid;
	border-width:1px;
	
	background-color:#27799C;
	
	border-top-color:#265367;
	border-right-color:#265367;
	border-bottom-color:#8eceea;
	border-left-color:#8eceea;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	border-style:solid;
	border-width:1px;
	
	background-color:#47a9d1;
	
	border-top-color:#8eceea;
	border-right-color:#8eceea;
	border-bottom-color:#265367;
	border-left-color:#265367;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(38,83,103,0.8); 
}