html, body {
	background-color:#4CA5CD;
	margin:0;
	padding:0;
}
body {
	font-family: Trebuchet MS,Arial,sans-serif;
	font-size:14px;
	color:#ffffff;
	margin: 0px;
}

a {
	color: #cc0000;
	font-weight:bold;
	text-decoration:none;
}
a:hover {
	color: #cc0000;
	text-decoration:underline;
}

.copyLink:before {
	background-image:url(/kuest/img/icon_copy.gif);
	background-repeat:no-repeat;
	background-position:center;
	padding-left:25px;
	content:'';
}

.hover {
	color: #cc0000 !important;
	text-decoration:underline;
}

.active {
	text-decoration:none;
	-webkit-filter: brightness(2);
	-moz-filter: brightness(2);
}

.submitted {
	text-decoration:none;
	-webkit-transition: .25s all ease-out; -o-transition: .25s all ease-out;
	-moz-transition: .25s all ease-out; transition: .25s all ease-out;
	-webkit-filter: brightness(1);
	-moz-filter: brightness(1);
}

.submitted  h2:before {
	background-image:url(/kuest/img/submit.png);
	background-repeat:no-repeat;
	background-position:center;
	padding-left:25px;
	content:'';
}

button {
	font-size:16px;
	font-weight:bold; 
	color:#265367;
	cursor:pointer;
	border-style:solid;
	border-width:1px;
	
	background-color:#47a9d1;
	
	border-top-color:#8eceea;
	border-right-color:#8eceea;
	border-bottom-color:#265367;
	border-left-color:#265367;

	padding:10px;
	padding-right:20px;
}
button:hover {
	color:#36748D;
	background-color:#5BB3D7;
}
button:active {
	color:#234B5C;
	background-color:#3199C6;
}

.window {
	width:440px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
}

.window .title {
	background-image:url(/kuest/img/window-top.png);
	background-repeat:no-repeat;
	width:375px;
	height:28px;
	padding-left:35px;
	padding-right:30px;
	padding-top:26px;
	
	font-weight:bold;
	font-size:16px;
	text-transform:uppercase;
	
	text-shadow: -2px 2px 0px #3083A5;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#3083A5', Direction=45, Strength=2);
	zoom: 1;
}

.window .content {
	margin:0px;	
	background-image:url(/kuest/img/window-middle.png);
	background-repeat:repeat-y;
	width:375px;
	padding-left:35px;
	padding-right:30px;
	padding-top:0px;
	word-wrap:break-word;
}

.window .content strong {
	font-size:17px;
	text-decoration:underline;
}

.window .bottom {
	background-image:url(/kuest/img/window-bottom.png);
	background-repeat:no-repeat;
	width:440px;
	height:33px;
}

.window img {
	float:left;
	margin-right:20px;
	margin-left:10px;
}

.window h1 {
	font-size:20px;
	display:inline;
}

.window h2 {
	font-size:20px;
	display:inline;
	color:#266884;
}

.table {
	margin-top:10px;
	display:table;
	width:100%;
	border-collapse: separate;
	border-spacing:0px 2px;
}

.row {
	display:table-row;
	width:100%;
}

.colLeft {
	width:30%;
	display:table-cell;
	background-color:#266884;
	padding-left:10px;
}

.colMiddle {
	width:40%;
	display:table-cell;
	padding-left:10px;
	background-color:#D8ECF3;
}

.colRight {
	width:30%;
	display:table-cell;
	text-align:center;
	background-color:#B7DBEA;
}

.collapser, .collapserOpen {
	width:100%;
	display:block;
	padding:0px;
	margin:0px;
}
.collapser:before {
	background-image:url(/kuest/img/arrow.png);
	background-repeat:no-repeat;
	background-position:center;
	padding-left:20px;
	content:'';
}
.collapserOpen:before {
	background-image:url(/kuest/img/arrowDown.png);
	background-repeat:no-repeat;
	background-position:center;
	padding-left:20px;
	content:'';
}

.description {
	overflow:auto;
	width:90%;
	max-height:200px;
	padding:5px;
	margin-left:10px;
	margin-top:0px;
	border-style:dashed;
	border-width:1px;
	background-color:#3094BE;
	border-color:#ffffff;
	border-top-width:0px;
	
	transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out; /* Safari */
}
.collapsed {
	overflow:hidden;
	max-height:0px;
	padding-top:0px;
	padding-bottom:0px;
}

.questID {
	font-size:26px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	background-color:#226A88;
}


/* SCROLLBAR SKIN FOR WEBKIT BROWSERS */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-button:start {
	height: 15px;
	background: url(/kuest/img/scroll-up.png);
}

::-webkit-scrollbar-button:end {
	height: 15px;
	background: url(/kuest/img/scroll-down.png);
}
 
/* Track */
::-webkit-scrollbar-track {
	border-style:solid;
	border-width:1px;
	
	background-color:#27799C;
	
	border-top-color:#265367;
	border-right-color:#265367;
	border-bottom-color:#8eceea;
	border-left-color:#8eceea;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	border-style:solid;
	border-width:1px;
	
	background-color:#47a9d1;
	
	border-top-color:#8eceea;
	border-right-color:#8eceea;
	border-bottom-color:#265367;
	border-left-color:#265367;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(38,83,103,0.8); 
}