Options +FollowSymlinks
RewriteEngine On
RewriteRule	^down$					down.php				[L]
RewriteRule	^browse$				index.php				[L]
RewriteRule	^editor$				editor.php				[L]
RewriteRule	^history$				history.php				[L]
RewriteRule	^k/([A-Za-z0-9]{13})$	syncer.php?id=$1		[L]
